@import url("reset.css");

html,body,.container{
	width:100%;
	height:100%;
	overflow:hidden;
}
.container{
	padding:.1rem;
}
.pic{
	width:2.57rem;
	height:2.67rem;
	position:relative;
	padding:.05rem .08rem .03rem .01rem;
	#cvs{
		position: absolute;
		left:-.02rem;
		top: 0;
		width:2.57rem;
		height:2.67rem;
		z-index:100;
	}
	img{
		width:2.46rem;
		height:2.57rem;
	}
}
.photo{
	img{
		position:absolute;
		width:.27rem;
		height:.44rem;
		z-index:200;
	}
	.leftT,.leftB{
		left:-0.02rem;
		top:.39rem;
		width:.4rem;
		height:.29rem;
	}
	.leftB{
		top:1.89rem;
	}
	.down{
		right:0.02rem;
		top:0;
	}
	.upL{
		right:.99rem;
		bottom:0;
	}
	.upR{
		right:.07rem;
		bottom:0;
	}
	.back{
		width:.42rem;
		height:.42rem;
		left:.11rem;
		top:3.49rem;
	}
	.car{
		width:1.22rem;
		height:.87rem;
		left:.88rem;
		top:3.02rem;
	}
}
